{% extends 'allok/basic.html' %}
{%load static%}
{%block link%}https://honvin.tech/ {%endblock%}
{%block metadesc%} One Stop Solutions For All Your Needs of Games, Utility, Social, etc {%endblock%}
{%block link1%}https://honvin.tech/ {%endblock%}
{%block title%}One Stop Solutions For All Your Needs of Games, Utility, Social, etc - HonVin Solutions {%endblock%}




{%block body%}



<main>

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'image/tictactoe1.jpg' %}" alt="" class="img-fluid">
          <div class="container">
            <div class="carousel-caption">
              <h1>Tic Tac Toe Game</h1>
              <p>A game in which two players alternately put Xs and Os in compartments of a
                figure formed by two vertical lines crossing two horizontal lines and each tries to get a row of
                three Xs or three Os before the opponent does.</p>
              <p><a class="btn btn-lg btn-primary" href="https://honvin.tech/tictactoe-game">Play Now</a></p>
            </div>
          </div>
        </div>
  
        <div class="carousel-item">
          <img src="{% static 'image/blog1.jpg' %}" alt="" class="img-fluid">
          <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="https://source.unsplash.com/1600x900/?tictactoe" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg> -->
  
          <div class="container">
            <div class="carousel-caption" style="color: black;">
              <h1>Best Technology Blogs</h1>
              <p>Visit to read the best blogs regarding Technology, Digital World etc.</p>
              <p><a class="btn btn-lg btn-primary" href="https://honvin.tech/blogs">Know more</a></p>
            </div>
          </div>
        </div>
  
        <div class="carousel-item">
          <img src="{% static 'image/yutube1.jpg' %}" alt="" class="img-fluid">
          <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="https://source.unsplash.com/1600x900/?tictactoe" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg> -->
  
          <div class="container">
            <div class="carousel-caption" style="color: rgba(209, 101, 19, 0.802);">
              <h1>Youtube Vedio Downloader</h1>
              <p>Download Youtube vedios your choice by pasting youtube URL link Here. Get High,
                Low, Medium Quality Vedios.</p>
              <p><a class="btn btn-lg btn-primary" href="https://honvin.tech/youtube-vedio-downloader">Download Now</a></p>
            </div>
          </div>
        </div>
        
  
        
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>



    <div class="px-4 pt-5 my-5 py-5 text-center border-bottom">
        <h1 class="display-4 fw-bold">Best Technology Blogs</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Visit to read the best blogs regarding Technology, Digital World etc.</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <p><a class="btn btn-lg btn-primary" href="https://honvin.tech/blogs">Read More</a></p>          </div>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh;">
          <div class="container px-5">
            <a href="https://honvin.tech/blogs"><img src="{% static 'image/blogs.jpg' %}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy"></a>
          </div>
        </div>
      </div>
  



      <!-- START THE FEATURETTES -->

        <div class="container py-5">
      
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Youtube Vedio Downloader</h2>
          <p class="lead">Download Youtube vedios your choice by pasting youtube URL link Here. Get High,
            Low, Medium Quality Vedios.</p>
          <p><a class="btn btn-lg btn-primary" href="https://honvin.tech/youtube-vedio-downloader">Dowload Now</a></p>
        </div>
        <div class="col-md-5 order-md-1">
          <a href="https://honvin.tech/youtube-vedio-downloader"><img src="{% static 'image/yutubedown.jpg' %}" alt="" class="img-fluid"></a>
          
          <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
  
        </div>
      </div>







	 <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Tic Tac Toe Game</h2>
          <p class="lead">A game in which two players alternately put Xs and Os in compartments of a
            figure formed by two vertical lines crossing two horizontal lines and each tries to get a row of
            three Xs or three Os before the opponent does.</p>
          <p><a class="btn btn-lg btn-primary" href="https://honvin.tech/tictactoe-game">Play Now</a></p>
        </div>
        <div class="col-md-5">
          <a href="https://honvin.tech/tictactoe-game"><img src="{% static 'image/tictactoe.png' %}" alt="" class="img-fluid"></a>
          
          <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
  
        </div>
      </div>
  

      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Rock Paper Scizer Game</h2>
          <p class="lead">Rock Paper Scissors is a zero sum game that is usually played by two people
            using their hands and no tools. The idea is to make shapes with an outstretched hand where each
            shape will have a certain degree of power and will lead to an outcome.</p>
          <p><a class="btn btn-lg btn-primary" href="https://honvin.tech/rock-paper-scizer-game">Play Now</a></p>
        </div>
        <div class="col-md-5 order-md-1">
          <a href="https://honvin.tech/rock-paper-scizer-game"><img src="{% static 'image/rockpaper.jpg' %}" alt="" class="img-fluid"></a>
          
          <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
  
        </div> </div>



     <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Number Guessing Game</h2>
          <p class="lead">The game is two-person game called Guess the Number. The first player thinks
          of an integer within a known range. ... If the guess is incorrect, then the first player tells
          the second player whether the guess was too high or too low. Eventually, the second player
          guesses the correct number.</p>
          <p><a class="btn btn-lg btn-primary" href="https://honvin.tech/number-guess-game">Play Now</a></p>
        </div>
        <div class="col-md-5">
          <a href="https://honvin.tech/number-guess-game"><img src="{% static 'image/numguess.png' %}" alt="" class="img-fluid"></a>
          
          <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
  
        </div>
      </div>


  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Scientific Calculator</h2>
          <p class="lead">A calculator is a machine which allows people to do math operations more
            easily. For example, most calculators will add, subtract, multiply, and divide. Some also do
            square roots, and more complex calculators can help with calculus and draw function graphs.
            Calculators are found everywhere.</p>
          <p><a class="btn btn-lg btn-primary" href="https://honvin.tech/calculator">Learn more</a></p>
        </div>
        <div class="col-md-5 order-md-1">
          <a href="https://honvin.tech/calculator"><img src="{% static 'image/calculator.png' %}" alt="" class="img-fluid"></a>
          
          <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
  
        </div>
      </div>
  
  

       
     
  
         <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Age Calculator</h2>
          <p class="lead">Age calculator finds the age based on the date of birth and tells, how old are
            you exactly. It is an online calender tool specially programmed to find the exact age of a
            person or an animal.</p>
          <p><a class="btn btn-lg btn-primary" href="https://honvin.tech/age-calculator">Try Now</a></p>
        </div>
        <div class="col-md-5">
          <a href="https://honvin.tech/age-calculator"><img src="{% static 'image/agecalci.png' %}" alt="" class="img-fluid"></a>
          
          <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
  
        </div>
      </div>
  
      
   
      <!-- /END THE FEATURETTES -->
  
    </div>
</div><!-- /.container -->
  
  
  </main>
  
    {%endblock%}